<!-- <mat-toolbar color="primary" style="font-family: 'Times New Roman', Times, serif;font-size: 25px; font-size: 30px;">
    Personal Finance Management
  </mat-toolbar> -->
<mat-card style="background-color: aliceblue;">
    <!-- class="container" -->
    <div  style="margin-top: 20px;">
        <div>
            <!-- *ngIf="showUploadOrDownload" -->
            <div class="panel-heading">
                <h2>Upload And Download Files</h2>
            </div>
            <!-- <div class="panel-heading" *ngIf="!showUploadOrDownload">
                <h2>Download Files</h2>
            </div> -->
            <div>
                <!-- *ngIf="showUploadOrDownload" -->
                <div>
                    <strong>Select files from your computer</strong>
                </div>
                <div *ngIf="fileStatus.status==='progress'">
                    <div class="progress">
                        <div [style.width.%]="fileStatus.percent"
                            role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            {{ fileStatus.requestType }} {{ fileStatus.percent }}
                        </div>
                    </div>
                </div>
                <hr>
                <!-- *ngIf="showUploadOrDownload" -->
                <form enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <div>
                                <input type="file" (change)="onUploadFiles($event.target.files)" name="files" multiple
                                    class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </form>
                <br>
                <button style="background-color: aqua;" *ngIf="filenames.length > 0" mat-raised-button (click)="close()">Done</button>

                <br>
                <!-- *ngIf="!showUploadOrDownload" -->
                <div >
                    <h2 *ngIf="showNoFilesUploaded">No Files Uploaded for this Transaction</h2>
                    <h3 *ngIf="!showNoFilesUploaded">Processed files</h3>
                    <div *ngFor="let filename of fileNames">
                        <a (click)="onDownloadFile(filename.fileName, filename.originalFileName)"
                            style="cursor: pointer;">
                            {{ filename.originalFileName }}
                            <a class="alert-success float-right">Download</a>
                        </a><br>
                    </div>
                    <br>
                    <button style="background-color: aqua;margin-left: 70%;" mat-raised-button (click)="close()">Done</button>
                </div>

            </div>
        </div>
    </div>
</mat-card>