/* .h1 {
  justify-content: baseline;
} */
/* :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  } */

  .mat-toolbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 6.5rem;
    width: 100%;
    background-color: rgb(179, 85, 172);
  }
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  .button1 {
    display: flexbox;
    margin-top: 20px;
    margin-left: 220px;
  }
  .heading{
    margin-top: 5px;
    text-align: center;
  }
  h1 {
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
  .card{
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }